{{!< default}}
<!--About section-->
<section id="about" class="about overlay main">
    <div class="background-img" >
        <img  src="{{asset 'images/4.jpg'}}" alt="">
    </div>
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row  vertical-align">
            {{#get "posts" filter="tag:hash-about" limit="1" }}
                {{#foreach posts }}
                    <div class="col-lg-5 col-md-12">
                        <div class="front-p">
                            <h1 class="uppercase text-white">{{title}}</h1>
                            <p class=" w-93">{{excerpt}}</p>
                            {{content}}
                        </div>
                    </div>
                {{/foreach}}
            {{/get}}
        </div>
        <!--End row-->
    </div>
<!--End container-->
</section>
<!--End about section-->
<!--Discography section-->
<section id="discography" class="discography main">
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9 ">
                <div class="block-content text-center gap-one-bottom-md">
                <div class="block-title ">
                    <h1 class="uppercase">Discography</h1>
                </div>
                </div>
            </div>
        </div>
        <!--End row-->
    </div>
    <!--End container-->
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row">
            {{#get "posts" filter="tag:hash-discography" }}
                {{#foreach posts }}
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="block-album block-content">
                        <h5 class="mb-0 opc-70 uppercase">{{title}}</h5>
                        <a class="link" href="{{url}}">View Album ›</a>
                        <a href="{{url}}">
                        <img class="animated" src="{{img_url feature_image }}" alt="">
                        </a>
                        {{content}}
                        </div>
                    </div>
                {{/foreach}}
            {{/get}}
        </div>
        <!--End row-->
    </div>
<!--End container-->
</section>
<!--End discography section-->
<!--Divider section-->
<section  class="divider overlay">
    <div class="background-img" >
        <img  src="{{asset 'images/4.jpg'}}" alt="">
    </div>
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 ">
                <div class="block-content text-center front-p">
                <h1 class="uppercase">Time left until the upcoming tour </h1>
                <p class="lead">27 to 31 July 2018 with over 10 show - Cincinnati, Ohio  </p>
                <div class="countdown uppercase  mb-0"></div>
                </div>
            </div>
        </div>
        <!--End row-->
    </div>
<!--End container-->            
</section>
<!--End divider section-->
<!--Band members section-->
<section id="band" class="band main ">
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9">
                <div class="block-content text-center gap-one-bottom-md">
                <div class="block-title ">
                    <h1 class="uppercase">Band members</h1>
                </div>
                </div>
            </div>
        </div>
        <!--End row-->
    </div>
    <!--End container-->
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row">
            {{#get "posts" filter="tag:hash-band-members" order="title asc" }}
                {{#foreach posts }}
                    <div class="col-md-4 col-lg-4">
                        <div class="block-member">
                        <img src="{{img_url feature_image }}" alt="">
                        <div class="member-info">
                            <h6 class="uppercase mb-0 ">{{title}}</h6>
                            <span class="mt-0">{{content}}</span>
                        </div>
                        </div>
                    </div>
                {{/foreach}}
            {{/get}}
        </div>
        <!--End row-->
    </div>
<!--End container-->
</section>
<!--End band members section-->
<!--Gallery section-->
<section id="gallery" class="gallery main">
<!--Container-->
<div class="container">
    <!--Row-->
    <div class="row justify-content-center ">
        <div class="col-12 col-md-10 col-lg-9">
            <div class="block-content  gap-one-bottom-md text-center">
            <!-- As a general rule, include a heading (h1-h6) as a child of each section and article element for screen readers purposes-->
                <h1 class="uppercase indent">Upcoming tours</h1>
            <i class="icon-camera-7 big-icon adjust-space "></i>
            </div>
        </div>
    </div>
    <!--End row-->
</div>
<!--End container-->
<!--Container-->
<div class="container">
    <!--Row-->
    <div class="row justify-content-center text-center">
        <div class="col-12 ">
            <div class="card-gallery image-gallery">
            <a href="img/10.jpg" target="_blank" class="popup-image mb-0"><img class="animated" alt="" src="{{asset 'images/10.jpg'}}" ></a>
            <a href="img/11.jpg" target="_blank" class="popup-image mb-0"><img class="animated" alt="" src="{{asset 'images/11.jpg'}}" ></a>
            <a href="img/12.jpg" target="_blank" class="popup-image mb-0"><img class="animated" alt="" src="{{asset 'images/12.jpg'}}"></a>
            <a href="img/13.jpg" target="_blank" class="popup-image mb-0"><img class="animated" alt="" src="{{asset 'images/13.jpg'}}" ></a>
            <a href="img/20.jpg" target="_blank" class="popup-image mb-0"><img class="animated" alt="" src="{{asset 'images/20.jpg'}}" ></a>
            <a href="img/14.jpg" target="_blank" class="popup-image mb-0"><img class="animated" alt="" src="{{asset 'images/14.jpg'}}" ></a>
            <a href="img/15.jpg" target="_blank" class="popup-image mb-0"><img class="animated" alt="" src="{{asset 'images/15.jpg'}}" ></a>
            <a href="img/16.jpg" target="_blank" class="popup-image mb-0"><img class="animated" alt="" src="{{asset 'images/16.jpg'}}" ></a>
            <a href="img/17.jpg" target="_blank" class="popup-image mb-0"><img class="animated" alt="" src="{{asset 'images/17.jpg'}}" ></a>
            </div>
            <a class="btn btn-primary uppercase with-ico mt-5" target="_blank" href="https://www.instagram.com/therebels_band/"><i class="icon-instagram"></i>Follow us @therebels_band</a>
        </div>
    </div>
    <!--End row-->
</div>
<!--End container-->
</section>
<!--End gallery section-->
<!--News section-->
<section id="news" class="news main bg-secondary">
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row justify-content-center ">
            <div class="col-12 col-md-10 col-lg-9">
                <div class="block-content  gap-one-bottom-md text-center">
                <div class="block-title ">
                    <h1 class="uppercase">On the blog</h1>
                </div>
                </div>
            </div>
        </div>
        <!--End row-->
    </div>
    <!--End container-->
    <!--Container-->
    <div class="container">
        <ul class="news-list">
            {{#get "posts" filter="tag:news" limit="2" }}
                {{#foreach posts }}
                    {{#if @even}}
                    <li class="row align-items-center justify-content-around">
                        <div class="col-12 col-md-6 order-md-2">
                        <div class="block-content">
                            <a href="#"><img alt="" class="img-fluid animated" src="{{img_url feature_image }}"></a>
                        </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-5  order-md-1 ">
                        <div class="block-content text-left">
                            <span class="mb-2 opc-70">{{date published_at format="MMMM DD, YYYY"}}</span>
                            <h2>{{title}}</h2>
                            <p class="lead">{{excerpt}}</p>
                            <a href="{{url}}#news">Read more ›</a>
                        </div>
                        </div>
                    </li>
                    {{else}}
                    <li class="row align-items-center justify-content-around">
                        <div class="col-12 col-md-6 order-1">
                        <div class="block-content">
                            <a href="#"><img alt="" class="img-fluid animated" src="{{img_url feature_image }}"></a>
                        </div>
                        </div>
                        <!--end of col-->
                        <div class="col-12 col-md-6 col-lg-5  order-2 text-left">
                        <div class="block-content text-left">
                            <span class="mb-2 opc-70">{{date published_at format="MMMM DD, YYYY"}}</span>
                            <h2>{{title}}</h2>
                            <p class="lead">{{excerpt}}</p>
                            <a href="{{url}}#news">Read more ›</a>
                        </div>
                        </div>
                        <!--end of col-->
                    </li>
                    {{/if}}
                {{/foreach}}
            {{/get}}
            </li>
        </ul>
        <div class="block-content text-center">
            <a class="btn btn-primary with-ico uppercase mt-5 " href="/tag/news#news">
            View all blog posts</a>
        </div>
    </div>
<!--End container-->
</section>
<!--End news section-->